body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}
.container {
    width: 70%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 10px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #007acc;
    padding-bottom: 10px;
}
header h1 {
    font-size: 2.5em;
    margin: 0;
    color: #007acc;
}
header p {
    margin: 5px 0;
}
header img {
    border-radius: 40%;
    width: 125px;
    height: 150px;
}
section {
    margin-bottom: 20px;
}
h2 {
    font-size: 1.8em;
    color: #007acc;
    border-bottom: 2px solid #007acc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
